on: [ push, pull_request ]
name: tests
jobs:
  build:
    name: Run tests
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - name: Flutter action
        uses: dart-lang/setup-dart@v0.3
        with:
          sdk: '2.12.0-29.10.beta'
      - name: Install dependencies
        run: dart pub get
      - name: Run tests
        run: dart test
